.vis-hide:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.simple-hide {
    display: none;
}

.show-block {
    display: block;
}

@media (max-width: 500px) {
    .mobile-hide {
        display: none !important;
    }
}